<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354080612371-s1pm48fhu3ivhgqlpregurtt5agorekc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354080612371-s1pm48fhu3ivhgqlpregurtt5agorekc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>354080612371-d6lqv3gjsh2eksjgtogb58uf5o7pov9c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSUaUgRiXMW1Y7VqXuto-Jgq_83Gp4QWA</string>
	<key>GCM_SENDER_ID</key>
	<string>354080612371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasetrial</string>
	<key>PROJECT_ID</key>
	<string>cupertinologinapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cupertinologinapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354080612371:ios:25e923998b56eb9990dfe6</string>
	<key>DATABASE_URL</key>
	<string>https://cupertinologinapp.firebaseio.com</string>
</dict>
</plist>